@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.food-card {
  display: flex;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 16px 0;
}

.food-image {
  flex: 1;
  max-width: 150px;
}

.food-image img {
  width: auto;
  height: auto;
}

.food-details {
  flex: 2;
  padding-left: 16px;
}

.food-name {
  font-size: 18px;
  margin-bottom: 8px;
}

.price {
  margin-bottom: 12px;
}

.original-price {
  text-decoration: line-through;
  font-size: 16px;
  color: #888;
  margin-right: 8px;
}

.discounted-price {
  font-size: 18px;
  font-weight: bold;
  color: #EC4899;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quantity-button {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-button:hover {
  background-color: #EC4899;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
}

.deal-info {
  font-size: 12px; /* Adjust text size */
  font-weight: bold; /* Make the entire text bold */
  align-items: center;
}

.stocks{
  color: #EC4899;
}
